/* This is a CSS comment. */

body {
  font-family: "Arial", "Helvetica Neue", sans-serif;
  color: #222;
}

h1 {
  font-size: 72px;
}

p,
li,
td {
  color: rgb(24,165,85); /* green: #18a555 */
}

nav li {
  list-style-type: square;
}

#intro {
  background-color: #eee;
}

.highlight {
  color: rgba(24,165,85,0.5);
  font-weight: bold;
  font-style: italic;
}
