/*
	With the above, we have created a 12-box grid, four columns
	wide and three rows tall (numbers indicate grid lines):

	1   2   3   4   5
	+===+===+===+===+ 1
	|   |   |   |   |
	+===+===+===+===+ 2
	|   |   |   |   |
	+===+===+===+===+ 3
	|   |   |   |   |
	+===+===+===+===+ 4

	This is our end goal:

	+===+===+===+===+
	| A             |
	+===+===+===+===+
	| B | C     | W
	+===+===+===+===+
	|   |   | D     |
	+===+===+===+===+


*/


.css-grid-yay {

}

#a {

}

#b {

}

#c {

}

#d {

}



/*
  These styles are only used for styling the boxes we see on screen!
	They have no impact on how CSS grid works!
*/

.css-grid-yay div {
	border: 1px solid rgb(12,71,162);
	border-radius: 3px;
	background-color: rgba(12,71,162,0.8);
	padding: 0.2rem;
	color: #fff;
}

.css-grid-yay div:nth-of-type(2n) {
	background-color: rgba(12,71,162,0.6);
}
